<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.kingsmith.plug.umeng">

	<!-- access network -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- read storage to save apk -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application>
		<!-- umeng cfg -->
		<meta-data android:name="UMENG_APPKEY" android:value="574eb23de0f55ac89c0021ec"/>
		<meta-data android:name="UMENG_CHANNEL" android:value="beta"/>

		<service
				android:name="com.umeng.update.net.DownloadingService"
				android:process=":DownloadingService" >
		</service>
	</application>
</manifest>
