<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="io.chgocn.plug">

	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

	<permission android:name="android.permission.BLUETOOTH" android:label="BLUETOOTH" />
	<permission android:name="android.permission.BLUETOOTH_ADMIN" />

	<uses-feature
		android:name="android.hardware.bluetooth_le"
		android:required="false"/>

	<supports-screens
			android:anyDensity="true"
			android:largeScreens="true"
			android:normalScreens="true"
			android:resizeable="true"
			android:smallScreens="true"/>

</manifest>
